<footer class="page__footer">
  <div class="footer__scrollup">
    <a href="#" title="Scroll up">
      <img src="./assets/images/ico-arrow.svg" />
    </a>
  </div>
  <nav class="footer__navigation">
    <ul>
      <li>
        <a href="#" title="Go to Articles">Articles</a>
      </li>
      <li>
        <a href="#" title="Go to Books">Books</a>
      </li>
      <li>
        <a href="#" title="Go to Events">Events</a>
      </li>
      <li>
        <a href="#" title="Go to Reasons">Reasons</a>
      </li>
      <li>
        <a href="#" title="Go to Tips">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__socialmedia">
    <ul>
      <li>
        <a href="#" title="Visit our Twitter">Twitter</a>
      </li>
      <li>
        <a href="#" title="Visit our Instagram">Instagram</a>
      </li>
      <li>
        <a href="#" title="Visit our Mastodon">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <small>
    <span>&copy; 2020</span>
    <span>we &hearts; components</span>
  </small>
</footer>
