<footer class="footer" id="bottom">
  <div class="footer__scrollup">
    <a href="#" title="Scroll up">
      <img src="./assets/images/ico-arrow.svg" />
    </a>
  </div>
  <nav class="footer__navigation">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Go to Articles">Articles</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Go to Books">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Go to Events">Events</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Go to Reasons">Reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Go to Tips">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__socialmedia">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Visit our Twitter">Twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Visit our Instagram">Instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Visit our Mastodon"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="footer__copy">
    <span><i class="fa fa-copyright" aria-hidden="true"></i> 2020</span>
    <span>we <i class="fa fa-heart" aria-hidden="true"></i> components</span>
  </small>
</footer>
