<main class="main">
  <div class="hero">
    <h1 class="hero__title">
      <span>Anonymous</span>
      <span>Proxy</span>
    </h1>
    <p>In hac habitasse platea dictustm.</p>
    <div class="hero__arrow">
      <a href="#" title="Ir abajo" alt="Ir abajo">
        <img src="./assets/images/ico-scroll-down.svg" />
      </a>
    </div>
  </div>

  <section class="blog">
    <h4>Insomnia Tips</h4>
    <h2>Looking through a window</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias optio
      doloremque nam aperiam pariatur impedit exercitationem delectus? Mollitia,
      ipsa qui hic odio neque.
    </p>
    <div class="blog__button">
      <a href="#" title="Read article">
        <p>Go</p>
      </a>
    </div>
  </section>

  <section class="reasons">
    <h2>3 reasons to purchase</h2>
    <article>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <article>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <article>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <div class="reasons__button--accented">
      <a href="#" title="More reasons">
        <p>More reasons</p>
      </a>
    </div>
  </section>
</main>
