<main class="main">
  <!-- HERO -->
  <div class="hero">
    <h1 class="hero__title">
      <span>Anonymous</span>
      <span>Proxy</span>
    </h1>
    <p>In hac habitasse platea dictustm.</p>
    <div class="hero__arrow">
      <a href="#bottom" title="Scroll down" alt="Scroll down">
        <img src="./assets/images/ico-scroll-down.svg" />
      </a>
    </div>
  </div>

  <!-- BLOG -->
  <section class="blog">
    <h4 class="blog__lead">Insomnia Tips</h4>
    <h2 class="blog__title">
      <span>Looking through a</span>
      <span>window</span>
    </h2>
    <p class="blog__opening">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias optio
      doloremque nam aperiam pariatur impedit exercitationem delectus? Mollitia,
      ipsa qui hic odio neque.
    </p>
    <div class="blog__button">
      <a href="#" title="Read article">
        <p>Go</p>
      </a>
    </div>
  </section>

  <!-- 3 REASONS -->

  <section class="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <article class="reasons__block">
      <h3 class="reasons__block__subtitle">Lorem ipsum</h3>
      <p class="reasons__content">
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </article>
    <article class="reasons__block">
      <h3 class="reasons__block__subtitle">Lorem ipsum</h3>
      <p class="reasons__content">
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </article>
    <article class="reasons__block">
      <h3 class="reasons__block__subtitle">Lorem ipsum</h3>
      <p class="reasons__content">
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </article>
    <div class="reasons__button--accented">
      <a href="#" title="Read all the reasons">
        <p>More reasons</p>
      </a>
    </div>
  </section>
</main>
