// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;
$font-size: 16px;

// colors
$color-light-details: #8ccbea;
$color-light-background: #eff9ff;
$color-dark-secondary: #304268;
$color-medium: #0271bc;
$color-dark: #000000;
$color-light: #ffffff;
$color-accent: #f26002;
$color-secondary-text: #4a4a4a;

// breakpoints

$tablet: 768px;
$desktop: 1280;
