.header {
  &__icon {
    width: 44px;
    height: 44px;
    background-color: $color-medium;
    position: fixed;
    text-align: center;
    line-height: 45px;

    & img {
      width: 16px;
      height: 14px;
    }
  }
}
