body {
  background-color: $color-light;
  font-family: $font-main;
}

// HERO

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // BACKGROUND IMAGE
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & img {
    width: 100%;
  }

  // HERO TEXT

  &__title {
    text-transform: uppercase;
    font-size: 2.333rem;
    margin-top: 15.78rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    @include tablet {
      font-size: 4.444rem;
      margin-top: 27.78rem;
    }

    @include desktop {
      font-size: 5.556rem;
      margin-top: 30rem;
    }

    span {
      display: block;
      text-align: center;
      line-height: 3.056rem;

      @include tablet {
        line-height: 5.889rem;
      }

      @include desktop {
        line-height: 7.333rem;
      }
    }
  }

  p {
    font-size: 0.8889rem;
    color: $color-light;
    margin-top: 0.5556rem;
    margin-bottom: 2.5rem;

    @include tablet {
      font-size: 1.333rem;
      margin-bottom: 0;
    }
  }

  // SCROLL DOWN ICON

  &__arrow {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-light;
    border-radius: 50%;

    & img {
      height: 0.6667rem;
      margin-top: 1rem;
    }

    @include tablet {
      transform: translate(0%, 200%);
    }
  }
}

// BLOG

.blog {
  margin-left: 0.8333rem;

  @include tablet {
    margin-left: 2.167rem;
    margin-right: 2.167rem;
  }

  @include desktop {
    margin-left: 15.28rem;
    margin-right: 15.28rem;
  }

  &__lead {
    color: $color-light-details;
    font-family: $font-main;
    font-size: 0.7778rem;
    text-transform: capitalize;
    font-weight: 200;
    margin-top: 1.667rem;
    padding-bottom: 0.5rem;

    @include desktop {
      font-size: 0.8889rem;
      margin-top: 3.333rem;
    }
  }

  &__title {
    @include title2;
    span {
      display: block;
    }
    @include tablet {
      font-size: 1.444rem;

      & span {
        display: inline-block;
      }
    }
    @include desktop {
      font-size: 1.778rem;
    }
  }

  &__opening {
    color: $color-secondary-text;
    line-height: 1.667rem;
    margin-right: 0.8333rem;
    margin-top: 0.8333rem;

    @include tablet {
      font-size: 1.111rem;
    }
  }

  // GO BUTTON

  &__button {
    border: 2px solid $color-accent;
    width: 4.222rem;
    padding: 0.5556rem;
    border-radius: 1.222rem;
    text-align: center;
    color: $color-accent;
    margin-top: 1.667rem;
    margin-bottom: 2.5rem;

    @include tablet {
      width: 5.056rem;
      margin-bottom: 3.333rem;
    }

    @include desktop {
      width: 8.889rem;
    }
  }
}

// 3 REASONS BLOCK

.reasons {
  background-color: $color-light-background;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  text-align: center;
  padding: 3.889rem 3.889rem 0 3.889rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5.556rem auto 5.556rem;
    padding: 20px;
  }

  &__title {
    @include title2;

    @include tablet {
      grid-column: span 3;
      margin-top: 1.667rem;
      font-size: 1.444rem;
    }

    @include desktop {
      font-size: 1.778rem;
    }
  }

  &__block {
    margin-bottom: 2.5rem;
    @include tablet {
      margin-top: 0;
    }

    @include desktop {
      margin-left: 4.5rem;
      margin-right: 4.5rem;
    }

    &__subtitle {
      @include title3;
      @include tablet {
        font-size: 1.333rem;
      }

      &__content {
        @include tablet {
          font-size: 1.111px;
        }
      }
    }

    & p {
      margin-top: 0.2778rem;
      color: $color-dark;
      line-height: 1.667rem;
      font-size: 1rem;
    }
  }

  // MORE REASONS BUTTON

  &__button {
    &--accented {
      margin: auto;
      color: $color-light;
      font-size: 1.111rem;
      background-color: $color-accent;
      width: 10.22rem;
      height: 2.5rem;
      border-radius: 1.222rem;
      text-align: center;
      margin-bottom: 3.333rem;

      @include tablet {
        grid-column: span 3;
        width: 210px;
        margin-bottom: 60px;
      }

      @include desktop {
        width: 255px;
        text-transform: capitalize;
      }

      & p {
        margin-top: 0.5556rem;
      }
    }
  }
}
