body {
  background-color: $color-light;
  font-family: $font-main;
}

// HERO

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // IMAGE BACKGROUND
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & img {
    width: 100%;
  }

  // HERO TEXT

  &__title {
    text-transform: uppercase;
    font-size: 2.333rem;
    margin-top: 15.78rem;

    span {
      display: block;
      text-align: center;
      line-height: 3.056rem;
    }
  }

  p {
    font-size: 0.8889rem;
    color: $color-light;
    margin-top: 0.5556rem;
    margin-bottom: 2.5rem;
  }

  // SCROLL DOWN ICON
  &__arrow {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-light;
    border-radius: 50%;

    & img {
      height: 0.6667rem;
      margin-top: 1rem;
    }
  }
}

.blog {
  margin-left: 0.8333rem;

  &__lead {
    color: $color-light-details;
    font-family: $font-main;
    font-size: 0.7778rem;
    text-transform: capitalize;
    font-weight: 200;
    margin-top: 1.667rem;
    padding-bottom: 0.5rem;
  }

  &__title {
    font-family: $font-titles;
    text-transform: capitalize;
    font-size: 1.333rem;
    line-height: 1.667rem;

    span {
      display: block;
    }
  }

  &__opening {
    color: $color-secondary-text;
    line-height: 1.667rem;
    margin-right: 0.8333rem;
  }

  &__button {
    border: 2px solid $color-accent;
    width: 4.222rem;
    padding: 0.5556rem;
    border-radius: 1.222rem;
    text-align: center;
    color: $color-accent;
    margin-top: 1.667rem;
    margin-bottom: 2.5rem;
  }
}

.reasons {
  border: 1px solid blue;
  background-color: $color-light-background;

  &__button {
    &--accented {
      background-color: $color-accent;
    }
  }
}
